<div class="page">
    <div class="form">
        <h1 class="title">Cadastre-se</h1>
        <input class="input-field" placeholder="Nome">
        <input class="input-field" placeholder="E-mail">
        <input class="input-field" placeholder="Senha">
        <input class="input-field" placeholder="Repetir senha">
        <div class="acc-type-container">

            <p class="subtitle">Tipo de conta</p>
            <label>Freelancer</label>
            <input type="checkbox" class="acc-type" value="freelancer">
            <label>Contratante</label>
            <input type="checkbox" class="acc-type" value="contratante">
        </div>
        <button class="btn-submit">Cadastrar</button>
    </div>
</div>
